In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os,json

In [2]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [193]:
filtered_basics = basics.replace(r'\N', np.nan)
filtered_basics = filtered_basics.dropna(subset=['genres', 'runtimeMinutes'])
filtered_basics = filtered_basics[filtered_basics['titleType'] == 'movie']
filtered_basics['startYear'] = pd.to_numeric(filtered_basics['startYear'], errors='coerce')
filtered_basics = filtered_basics[filtered_basics['startYear'].between(2000, 2021, inclusive='both')]
filtered_basics = filtered_basics[~filtered_basics['genres'].str.contains('Documentary', na=False)]

In [194]:
filtered_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139338 entries, 34800 to 10298884
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          139338 non-null  object
 1   titleType       139338 non-null  object
 2   primaryTitle    139338 non-null  object
 3   originalTitle   139338 non-null  object
 4   isAdult         139338 non-null  object
 5   startYear       139338 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  139338 non-null  object
 8   genres          139338 non-null  object
dtypes: float64(1), object(8)
memory usage: 10.6+ MB

In [195]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [196]:
filtered_akas = akas[akas['region'] == 'US']
filtered_akas.replace(r'\N', np.nan)
filtered_akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1476171 entries, 5 to 37714252
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1476171 non-null  object
 1   ordering         1476171 non-null  int64
 2   title            1476171 non-null  object
 3   region           1476171 non-null  object
 4   language         1476171 non-null  object
 5   types            1476171 non-null  object
 6   attributes       1476171 non-null  object
 7   isOriginalTitle  1476171 non-null  object
dtypes: int64(1), object(7)
memory usage: 101.4+ MB

In [197]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2006
1  tt0000002            5.8       269
2  tt0000003            6.5      1909
3  tt0000004            5.5       178
4  tt0000005            6.2      2689

In [198]:
filtered_ratings = ratings.replace(r'\N', np.nan)
filtered_ratings = filtered_ratings[filtered_ratings['tconst'].isin(filtered_akas['titleId'])]

In [199]:
filtered_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513737 entries, 0 to 1367224
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         513737 non-null  object
 1   averageRating  513737 non-null  float64
 2   numVotes       513737 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.7+ MB

In [200]:
keepers =filtered_basics['tconst'].isin(filtered_akas['titleId'])
keepers

34800        True
61111        True
67663        True
80548        True
86790        True
            ...
10298626     True
10298665    False
10298710     True
10298794    False
10298884    False
Name: tconst, Length: 139338, dtype: bool

In [201]:
filtered_basics = filtered_basics[keepers]
filtered_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67663,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
80548,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
86790,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
10298083,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
10298477,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10298617,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10298626,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10298710,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [202]:
merged_data = pd.merge(filtered_basics, filtered_ratings, on='tconst', how='inner')

In [203]:
merged_data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",6.4,87904
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,6.4,183
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,6.7,7867
3,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror,5.9,1756
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi",5.3,344

In [204]:
filtered_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67663,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
80548,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror
86790,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
10298083,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
10298477,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10298617,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10298626,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10298710,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [205]:
df = filtered_basics.copy()

In [206]:
## create a col with a list of genres
df['genres_split'] = df['genres'].str.split(',')
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
67663,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
80548,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008.0,NaN,94,Horror,[Horror]
86790,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
10298083,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
10298477,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
10298617,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
10298626,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
10298710,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [207]:
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
67663,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
10298626,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
10298626,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
10298626,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
10298710,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
10298710,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [208]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [209]:
# Save just tconst and genres_split as new df
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

          tconst genres_split
34800  tt0035423       Comedy
34800  tt0035423      Fantasy
34800  tt0035423      Romance
61111  tt0062336        Drama
67663  tt0069049        Drama

In [210]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [211]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')
title_genres.head()

          tconst  genre_id
34800  tt0035423         5
34800  tt0035423         9
34800  tt0035423        18
61111  tt0062336         7
67663  tt0069049         7

In [212]:
## Manually make dataframe with namesd cols from the .keyd and .values
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                             'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [213]:
## get max string length
max_str_len = df['tconst'].fillna('').map(len).max()

In [214]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = df['tconst'].fillna('').map(len).max()
title_len = df['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}
df_schema

{'tconst': String(length=11),
 'primaryTitle': Text(length=243),
 'startYear': Float(),
 'endYear': Float(),
 'runtimeMinutes': Integer()}

In [215]:
# Drop unwanted columns
df.drop(columns=['originalTitle', 'isAdult','titleType', 'genres', 'genres_split'], inplace=True)

In [216]:
df.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
34800,tt0035423,Kate & Leopold,2001.0,NaN,118
61111,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
67663,tt0069049,The Other Side of the Wind,2018.0,NaN,122
80548,tt0082328,Embodiment of Evil,2008.0,NaN,94
86790,tt0088751,The Naked Monster,2005.0,NaN,100

In [217]:
# Create connection string using credentials following this format
connection_str = "mysql+pymysql://root:Corporate$01@localhost/books"
db_name = "tmdb"

In [218]:
from sqlalchemy import create_engine
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/tmdb)

In [219]:
## Save to sql with dtype and index=False
df.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

82207

In [220]:
## Set tconst as primary key
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [229]:
schema_1 = """SELECT *
FROM title_basics
LIMIT 5;"""
pd.read_sql(schema_1, engine)

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,None,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,None,70
2,tt0069049,The Other Side of the Wind,2018.0,None,122
3,tt0082328,Embodiment of Evil,2008.0,None,94
4,tt0088751,The Naked Monster,2005.0,None,100

In [234]:
schema_2 = """SELECT *
FROM title_genres
LIMIT 5;"""
pd.read_sql(schema_2, engine)

      tconst  genre_id
0  tt0035423         5
1  tt0035423         9
2  tt0035423        18
3  tt0062336         7
4  tt0069049         7

In [236]:
#read in ratings file
df_ratings = filtered_ratings.copy()
df_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2006
1        tt0000002            5.8       269
4        tt0000005            6.2      2689
5        tt0000006            5.0       183
6        tt0000007            5.4       841
...            ...            ...       ...
1367210  tt9916200            8.1       238
1367211  tt9916204            8.2       275
1367218  tt9916348            8.3        18
1367219  tt9916362            6.4      5605
1367224  tt9916428            3.5        17

[513737 rows x 3 columns]

In [239]:
key_len_ratings = df_ratings['tconst'].fillna('').map(len).max()
schema_ratings = {
    "tconst": String(key_len_ratings+1),
    'averageRating':Float(),
    'numVotes':Integer(),}
schema_ratings

{'tconst': String(length=11), 'averageRating': Float(), 'numVotes': Integer()}

In [240]:
df_ratings.to_sql('title_ratings',engine,dtype=schema_ratings,if_exists='replace',index=False)
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [241]:
schema_3 = """SELECT *
FROM title_ratings
LIMIT 5;"""
pd.read_sql(schema_3, engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      2006
1  tt0000002            5.8       269
2  tt0000005            6.2      2689
3  tt0000006            5.0       183
4  tt0000007            5.4       841

In [243]:
key_len_genre = genre_lookup['Genre_Name'].fillna('').map(len).max()
schema_genre = {
    "Genre_Id": Integer(), 
    "Genre_Name": String(key_len_genre+1)}
schema_genre

{'Genre_Id': Integer(), 'Genre_Name': String(length=11)}

In [244]:
genre_lookup.to_sql('genres',engine,dtype=schema_genre,if_exists='replace',index=False)
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`genre_id`);')

In [245]:
schema_4 = """SELECT *
FROM title_ratings
LIMIT 5;"""
pd.read_sql(schema_4, engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      2006
1  tt0000002            5.8       269
2  tt0000005            6.2      2689
3  tt0000006            5.0       183
4  tt0000007            5.4       841

In [246]:
df_tmdb = pd.read_csv("Data/tmdb_results_combined.csv.gz", low_memory = False)
df_tmdb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.104,2365.0,PG

In [248]:
# Drop unwanted cols
df_tmdb = df_tmdb[['imdb_id','revenue', 'budget']]
df_tmdb.head()

     imdb_id     revenue      budget
0          0         NaN         NaN
1  tt0113026         0.0  10000000.0
2  tt0113092         0.0         0.0
3  tt0116391         0.0         0.0
4  tt0118694  14204632.0    150000.0

In [252]:
null_rows = df_tmdb[df_tmdb.isnull().any(axis=1)]
null_rows

     imdb_id  revenue  budget
0          0      NaN     NaN
1349       0      NaN     NaN

In [255]:
#remove null rows from dataframe
df_tmdb = df_tmdb.loc[df_tmdb['imdb_id'] != '0']
df_tmdb.shape

(2812, 3)

In [256]:
df_tmdb.head()

     imdb_id     revenue      budget
1  tt0113026         0.0  10000000.0
2  tt0113092         0.0         0.0
3  tt0116391         0.0         0.0
4  tt0118694  14204632.0    150000.0
5  tt0118852         0.0         0.0

In [259]:
key_len_tmdb = df_tmdb['imdb_id'].fillna('').map(len).max()
schema_tmdb = {
    "imdb_id": String(key_len_tmdb+1),
    'revenue':Float(),
    'budget':Float(),}
schema_tmdb

{'imdb_id': String(length=11), 'revenue': Float(), 'budget': Float()}

In [260]:
df_tmdb.to_sql('tmdb_data',engine,dtype=schema_tmdb,if_exists='replace',index=False)
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

In [261]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_tmdb
0         genres
1   title_basics
2   title_genres
3  title_ratings
4      tmdb_data